


{% load static %}
<!doctype html>
<html lang="en">
  <head>
  	<title>contacts</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href=" {% static 'https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' %}" rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="{% static 'https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' %}">
	
	<link rel="stylesheet" href="{% static 'css/style.css' %}">

	</head>
	<body>


	 <div class="container">
	  <div class="col-md-12">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
			  <span class="navbar-toggler-icon"></span>
			</button>
			<a class="navbar-brand" href="#">CONTACT MANAGEMENT</a>
		  
			<div class="collapse navbar-collapse" id="navbarTogglerDemo03">
			  <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
				<li class="nav-item active">
				  <a class="nav-link btn-primary mr-sm-2" href="{% url 'add_contact' %}">Add Contact <span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item active">
					<a class="nav-link btn-primary" href="{% url 'user_notes' %}">Notes<span class="sr-only">(current)</span></a>
				  </li>
			  </ul>
			  <form class="form-inline my-2 my-lg-0">
				<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
				<button class="btn btn-primary my-2 my-sm-0 mr-sm-5" type="submit">Search</button>
				
			  </form>
			
			</div>
			<h6 class="mr-sm-2">  Welcome, {{ user.username }}!</h6>
			<a href="{% url 'log_out' %}" class="btn btn-danger">Logout</a>
		  </nav>
		</div>
     </div>



	<section class="ftco-section">
		<div class="container">
		
			<div class="row">
				<div class="col-md-12">
					<div class="table-wrap">
						<table class="table">
						  <thead class="thead-primary">
						    <tr>
						      <th>#</th>
						      <th>Name</th>
						      <th>Phone</th>
						      <th>Email</th>
						      <th>Address</th>
						      <th>Edit</th>
						    </tr>
						  </thead>
						  <tbody>
                            {% for ch in check%}
						    <tr>
						      <th scope="row">{{ forloop.counter }}</th>
						      <td>{{ch.name}}</td>
						      <td>{{ch.phone_number}}</td>
						      <td>{{ch.email}}</td>
						      <td>{{ch.address}}</td>
						      <td><a href="{% url 'edit_contact' ch.id %}">Edit</a></td>
						    </tr>
                            {%endfor%}
						    
						  </tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</section>


	</body>
</html>


