{% load static %}

<!doctype html>
<html lang="en">
  <head>
  	<title>login page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href=" {% static 'https://fonts.googleapis.com/css?family=Roboto:400,100,300,700'%}" rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="{% static 'https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'%}">
	
	<link rel="stylesheet" href=" {% static 'css/style_add.css'%}">

	</head>
	<body>
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section">Login</h2>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-lg-10">
					<div class="wrapper">
						<div class="row no-gutters">
							<div class="col-md-12 d-flex align-items-stretch">
								<div class="contact-wrap w-100 p-md-5 p-4 py-5">

									<div id="form-message-warning" class="mb-4"></div> 
                                    {% if error is None %}
									<form method="POST" id="contactForm" name="contactForm" class="contactForm">
										{% csrf_token %}
										<div class="row">
											<div class="col-md-12">
												<div class="form-group">
													<input type="text" class="form-control" name="username" id="name" placeholder="Username">
												</div>
											</div>
											<div class="col-md-12"> 
												<div class="form-group">
													<input type="password" class="form-control" name="password" id="email" placeholder="Password">
												</div>
											</div>
											
											<div class="col-md-12">
												<div class="form-group">
													<input type="submit" value="Login" class="btn btn-primary">
													<div class="submitting"></div>
												</div>
                                                <a href="{% url 'sign_up'%}">Sign Up<a/>
                                                
                                            
											</div>
										</div>
									</form>
                                    {% else %}
                                      <h3> {{error}}</h3>
                                      {% endif %}
								</div>
							</div>
				
			          </div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	</body>
</html>

